.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)); /* Fino a 4 colonne */
  gap: 25px; /* Spazio tra le card */
  margin-top: 20px;
}

.note-card {
  background-color: #d4eaff; /* Colore di sfondo per le card */
  border: 1px solid #e0e0e0; /* Bordo grigio chiaro */
  border-radius: 8px; /* Angoli arrotondati */
  padding: 20px; /* Spazio interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
  box-sizing: border-box; /* Assicura che padding e border siano inclusi nella larghezza totale */
  cursor: pointer;
  text-overflow: ellipsis;
  height: 140px ;
}

.note-code {
  font-weight: bold;
  color: #4d5878; /* Colore per il codice della nota */
  margin-bottom: 10px; /* Spazio sotto il codice */
  display: flex;
  justify-content: space-between;
}

.note-description {
  color: #333; /* Colore del testo della descrizione */
  height: 49px;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Numero di righe da visualizzare */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-container i {
  margin-left: 10px; /* Puoi regolare il valore per più o meno spazio */
}

.note-update {
  color: #5d5d5d; /* Colore del testo della descrizione */
  display: flex;
  justify-content: end;
  opacity: 80%;
}
